backend/schemas/nfe_v4.00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           targetNamespace="http://www.portalfiscal.inf.br/nfe" 
           xmlns="http://www.portalfiscal.inf.br/nfe" 
           elementFormDefault="qualified">
  
  <xs:element name="NFe" type="TNFe"/>
  
  <xs:complexType name="TNFe">
    <xs:sequence>
      <xs:element name="infNFe" type="TInfNFe"/>
      <xs:element name="Signature" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="TInfNFe">
    <xs:sequence>
      <xs:element name="ide" type="xs:anyType"/>
      <xs:element name="emit" type="xs:anyType"/>
      <xs:element name="dest" type="xs:anyType" minOccurs="0"/>
      <xs:element name="det" type="xs:anyType" maxOccurs="unbounded"/>
      <xs:element name="total" type="xs:anyType"/>
      <xs:element name="transp" type="xs:anyType"/>
      <xs:element name="pag" type="xs:anyType"/>
      <xs:element name="infAdic" type="xs:anyType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="Id" type="xs:string" use="required"/>
    <xs:attribute name="versao" type="xs:string" use="required"/>
  </xs:complexType>
  
</xs:schema>
